name: WasmcloudHost Elixir CI

on:
  push:
    branches: [main]
    tags: "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches: [main]
  workflow_dispatch: # Allow manual creation of artifacts without a release

env:
  working-directory: wasmcloud_host

jobs:
  build:
    strategy:
      matrix:
        elixir: [1.12.1]
        otp: [22.0, 23.0, 23.3.4.1, 24.0]
    services:
      nats:
        image: nats
        ports:
          - 4222:4222

    name: Build and test
    runs-on: ubuntu-18.04
    env:
      MIX_ENV: test

    steps:
      - uses: actions/checkout@v2

      - name: Setup elixir
        uses: actions/setup-elixir@v1
        with:
          elixir-version: ${{ matrix.elixir }} # Define the elixir version [required]
          otp-version: ${{ matrix.otp }} # Define the OTP version [required]

      - name: Retrieve Mix Dependencies Cache
        uses: actions/cache@v2
        id: mix-cache #id to use in retrieve action
        with:
          path: |
            wasmcloud_host/deps
            wasmcloud_host/_build
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles('wasmcloud_host/mix.exs', 'wasmcloud_host/mix.lock') }}

      - name: Install Mix Dependencies
        working-directory: ${{env.working-directory}}
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix do deps.get, deps.compile

      - name: Check Formatting
        working-directory: ${{env.working-directory}}
        run: mix format --check-formatted

      - name: Run Credo
        working-directory: ${{env.working-directory}}
        continue-on-error: true # Don't fail entire action with refactoring opportunities for now
        run: mix credo --strict

      - name: Run Tests
        working-directory: ${{env.working-directory}}
        run: |
          WASMCLOUD_LATTICE_PREFIX=$(echo "${{ runner.os }}__${{ matrix.otp }}__${{ matrix.elixir }}__${{ env.working-directory }}" | sed 's/\./_/g') \
          mix test

      - name: Retrieve PLT Cache
        uses: actions/cache@v2
        id: plt-cache
        with:
          path: wasmcloud_host/priv/plts
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-plts-${{ hashFiles('wasmcloud_host/mix.exs', 'wasmcloud_host/mix.lock') }}

      - name: Create PLTs
        working-directory: ${{env.working-directory}}
        if: steps.plt-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv/plts
          mix dialyzer --plt

      - name: Run dialyzer
        working-directory: ${{env.working-directory}}
        continue-on-error: true # Don't fail entire action with dialyzer opportunities for now
        run: mix dialyzer --no-check

  release-docker:
    needs: build
    if: startswith(github.ref, 'refs/tags/') # Only run on tag push

    name: Release Linux Docker Image
    runs-on: ubuntu-18.04
    env:
      MIX_ENV: prod

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to AzureCR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.AZURECR_PUSH_URL }}
          username: ${{ secrets.AZURECR_PUSH_USER }}
          password: ${{ secrets.AZURECR_PUSH_PASSWORD }}

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_PUSH_USER }}
          password: ${{ secrets.DOCKERHUB_PUSH_PASSWORD }}

      - name: Determine version
        run: echo "wasmcloud_host_version=$(grep '@app_vsn "' ${{env.working-directory}}/mix.exs | cut -d '"' -f2)" > $GITHUB_ENV

      - name: Build and release docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: ${{env.working-directory}}/Dockerfile
          platforms: linux/amd64,linux/arm64
          build-args: |
            BUILDER_IMAGE=elixir:1.12.2-slim
            RELEASE_IMAGE=debian:buster-slim
            APP_NAME=wasmcloud_host
            APP_VSN=${{ env.wasmcloud_host_version }}
            SECRET_KEY_BASE=${{ secrets.WASMCLOUD_HOST_SECRET_KEY_BASE }}
          tags: |
            wasmcloud.azurecr.io/wasmcloud_host:${{ env.wasmcloud_host_version }}
            wasmcloud.azurecr.io/wasmcloud_host:latest
            wasmcloud/wasmcloud_host:${{ env.wasmcloud_host_version }}
            wasmcloud/wasmcloud_host:latest

  create-tarballs:
    # Run on tag push or on manual dispatch. Release will not be created for manual dispatch
    if: ${{ startswith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch' }}
    name: Build application release tarballs
    needs: build
    strategy:
      matrix:
        os: ["ubuntu-20.04", "windows-2019", "macos-10.15"]
    runs-on: ${{ matrix.os }}
    env:
      MIX_ENV: prod
      ERLANG_VERSION: 24.0.3
      ELIXIR_VERSION: 1.12.2
      SECRET_KEY_BASE: ${{ secrets.WASMCLOUD_HOST_SECRET_KEY_BASE }}

    steps:
      - uses: actions/checkout@v2

      # Setup Rust for NIF dependencies
      - uses: actions-rs/toolchain@v1
        if: ${{ startswith(matrix.os, 'windows') }}
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc
          override: true
      - uses: actions-rs/toolchain@v1
        if: ${{ startswith(matrix.os, 'macos') }}
        with:
          toolchain: stable
          target: x86_64-apple-darwin
          override: true
      - uses: actions-rs/toolchain@v1
        if: ${{ startswith(matrix.os, 'ubuntu') }}
        with:
          toolchain: stable
          target: x86_64-unknown-linux-gnu
          override: true

      # Setup node for phoenix deps
      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      # Install erlang/OTP and elixir
      - name: Install erlang and elixir
        if: ${{ startswith(matrix.os, 'ubuntu') || startswith(matrix.os, 'windows') }}
        uses: erlef/setup-beam@v1
        with:
          otp-version: "=24"
          elixir-version: "1.12"
          install-hex: true
          install-rebar: true
      - name: Install erlang and elixir
        if: ${{ startswith(matrix.os, 'macos') }}
        run: |
          brew install erlang
          brew install elixir

      - name: Determine version
        shell: bash
        run: echo "wasmcloud_host_version=$(grep '@app_vsn "' ${{env.working-directory}}/mix.exs | cut -d '"' -f2)" > $GITHUB_ENV

      - name: Retrieve Mix Dependencies Cache
        uses: actions/cache@v2
        id: mix-cache #id to use in retrieve action
        with:
          path: |
            wasmcloud_host/deps
          key: ${{ runner.os }}-${{ env.ERLANG_VERSION }}-${{ env.ELIXIR_VERSION }}-mix-${{ hashFiles('wasmcloud_host/mix.exs', 'wasmcloud_host/mix.lock') }}

      - name: Install Mix Dependencies
        working-directory: ${{env.working-directory}}
        run: |
          mix local.rebar --force 
          mix local.hex --force
          mix deps.get

      - name: Compile Elixir
        working-directory: ${{env.working-directory}}
        run: |
          mix compile

      - name: Compile Phoenix Assets
        working-directory: ${{env.working-directory}}/assets
        run: |
          npm install --python=python2.7
          npm run deploy

      - name: Create digest
        working-directory: ${{env.working-directory}}
        run: mix phx.digest

      - name: Create Distillery Release
        working-directory: ${{env.working-directory}}
        run: |
          mix distillery.release --verbose

      # Based on the OS, determine the appropriate tarball filename
      - name: Determine tarball filename
        if: ${{ startswith(matrix.os, 'macos') }}
        run: echo "tarball_filename=x86_64-macos" > $GITHUB_ENV
      - name: Determine tarball filename
        if: ${{ startswith(matrix.os, 'ubuntu') }}
        run: echo "tarball_filename=x86_64-linux" > $GITHUB_ENV
      - name: Determine tarball filename
        shell: bash
        if: ${{ startswith(matrix.os, 'windows') }}
        run: echo "tarball_filename=x86_64-windows" > $GITHUB_ENV

      # It's currently output as `wasmcloud_host.tar.gz`, but we want it to be indicative of the ARCH-OS pair
      - name: Rename release for Upload
        shell: bash
        run: |
          mv ${{env.working-directory}}/_build/prod/rel/wasmcloud_host/releases/${{ env.wasmcloud_host_version }}/wasmcloud_host.tar.gz ${{env.working-directory}}/_build/prod/rel/wasmcloud_host/releases/${{ env.wasmcloud_host_version }}/${{ env.tarball_filename }}.tar.gz

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.tarball_filename }}
          path: ${{env.working-directory}}/_build/prod/rel/wasmcloud_host/releases/${{ env.wasmcloud_host_version }}/${{ env.tarball_filename }}.tar.gz

  github-release:
    if: startswith(github.ref, 'refs/tags/') # Only run on tag push
    needs: [create-tarballs]
    runs-on: ubuntu-20.04
    steps:
      - name: Download Release Tarballs
        uses: actions/download-artifact@v2
        with:
          path: ${{ env.working-directory }}/release

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.working-directory }}/release/**/*.tar.gz
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          draft: false
